.gallery-container {
  position: relative;
  margin-top: 25px;
  margin-bottom: 100px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 610px;
  }

  button {
    position: absolute;
    top: 44%;
    background-color: transparent;
    border: none;
    z-index:9;

    &.slick-prev {
      left: 10px;
    }
    &.slick-next {
      right: 10px;
    }
  }

  .gallery-slider {
    width: 100%;
    //z-index: 1 !important;

    img {
      width: 70%;
      margin: auto;
    }
  }
}