//Colors
$darkblue: #29505f;
$lightblue: #a3bdc3;
$lighterblue: #8bdefe;
$lightestblue: #a6c0c6;
$orange: #fe0000;
$darkorange: #a80404;

//Fonts
$cursive: 'Satisfy', cursive;
$light: 'brandon_grotesquelight';
$regular: 'brandon_grotesque_regularRg';
$bold: 'brandon_grotesquebold';
$black: 'brandon_grotesqueblack';
